
{{#if footer}}
<div class="footer">
    <div class="container" style="height: 40vh;">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="" class="logo">
                    <img src="../../Image/logo.png" alt="logo" class="logo">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, voluptatum. Quidem officia repellat, nisi beatae consequuntur, officiis placeat quia tempora totam, voluptatibus dignissimos illo ipsam minima laboriosam odio quis at.</p>
                <a href="#" class="socail-list">
                    <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="socail-list">
                    <i class="bx bxl-twitter"></i>
                </a>
                <a href="#" class="socail-list">
                    <i class="bx bxl-instagram "></i>
                </a>
                <a href="#" class="socail-list">
                    <i class="bx bxl-telegram "></i>
                </a>
                <a href="#" class="socail-list">
                    <i class="bx bxl-youtube "></i>
                </a>
                <a href="#" class="socail-list">
                    <i class="bx bxl-skype "></i>
                </a>
            </div>
            <div class="col-12 col-md-2">
                <b>TTHMov</b>
                <ul class="footer-menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="#">Pricing plans</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2">
                <b>Browse</b>
                <ul class="footer-menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="#">Pricing plans</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2">
                <b>Help</b>
                <ul class="footer-menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="#">Pricing plans</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2">
                <b>Download app</b>
                <ul class="footer-menu">
                    <li><a href="#">
                        <img src="../../Image/App/App Store.png" alt="" srcset="">
                    </a></li>
                    <li><a href="#">
                        <img src="../../Image/App/Google Play.png" alt="" srcset="">
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right">
        @2023 TTHMov
    </div>
</div>
{{/if}}