<div class="container-xl px-4 mt-4">
       {{#if message}}
                        <div class="alert alert-{{type}}" role="alert" style="text-align:center">
                                {{message}}
                        </div>
                        {{/if}}
        <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="/users/profile/{{_id}}">Profile</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row" style="display: flex;justify-content: center;">
            <div class="col-lg-8">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form method="post" action="/users/resetpassword/{{_id}}">
                            <!-- Form Group (current password)-->
                            {{#if check}}
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Current Password</label>
                                <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password" name="oldpass">
                                  
                            </div>
                            {{/if}}
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password" placeholder="Enter new password" name="newpass">
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password" name="_newpass">
                            </div>
                            <button class="btn btn-primary" type="Submit">Save</button>
                        </form>
                    </div>
                </div>
    </div>
    </div>
    </div>  
    <script>
    setTimeout(() => {
        $('#flash-alert ').fadeOut(2000)
        $(".alert-success").fadeOut(2000)
        $(".alert-danger").fadeOut(2000)
    }, 1000);
</script>